<app-navbar></app-navbar>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">



                   

                    
                    <div class="form-group">
                        <label for="data.numero">DNI</label>
                        <input type="number" class="form-control" id="numero" name="numero"
                        [(ngModel)]="numero" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="data.nombre_completo">Nombres Completo</label>
                        <input type="text" class="form-control" id="nombre_completo" name="nombre_completo"
                        [(ngModel)]="nombre_completo" maxlength="30" required>
                    </div>


                    


                    
                    <div id="btn">

                        <button class="btn btn-success" [disabled]="!f.valid">
                            <i class="fas fa-plus-circle"></i> Crear</button>

                        <button class="btn btn-primary" routerLink="/lista-huesped">
                            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</body>