<app-navbar></app-navbar>



<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                <form (ngSubmit)="crearHuesped()" novalidate #f="ngForm">

                    <div class="row">
                        <div class="form-group col">
                            <label for="data.numero">DNI</label>
                            <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="numeroDocumento"
                                maxlength="8" required>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" (click)="consultarDni(numeroDocumento)">Consultar</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="persona.nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres"
                            [(ngModel)]="nombre" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="persona.apellido_paterno">Apellidos</label>
                        <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno"
                            [(ngModel)]="apellido" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono"
                            maxlength="9" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="correo"
                            maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" class="form-control" id="observaciones" name="observaciones" onClick="select_area()"
                            [(ngModel)]="observaciones" maxlength="400" required >
                    </div>

                    <div id="btn">
                        <button class="btn btn-success" [disabled]="!f.valid" onClick="validate_text();">
                            <i class="fas fa-plus-circle"></i> Crear</button>
                        <button class="btn btn-primary" routerLink="/lista-huesped">
                            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    
</body>