<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required
                    >
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required
                   >
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required
                   >
                </div>
                <div class="form-group">
                    <label for="usuarioRegistro">Usuario Registro</label>
                    <input type="text" class="form-control" id="usuarioRegistro" name="usuarioRegistro" [(ngModel)]="usuarioRegistro" required>
                </div>
                <div class="form-group">
                    <label for="usuarioUltModificacion">Usuario Ult Modificacion</label>
                    <input type="text" class="form-control" id="usuarioUltModificacion" name="usuarioUltModificacion" [(ngModel)]="usuarioUltModificacion" required>
                </div>
                <div class="form-group">
                    <label for="observaciones">Obervaciones</label>
                    <input type="text" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="observaciones" required>
                </div>
               
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/lista-huesped">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>