<body>
    
<app-navbar></app-navbar>
<div class="container" *ngIf="huesped">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">


                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="huesped.nombre" maxlength="30" required>
                </div>
                
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                    [(ngModel)]="huesped.apellido" maxlength="30" required>
                </div>
                <div></div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono"
                    [(ngModel)]="huesped.telefono" maxlength="9" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" name="correo"
                    [(ngModel)]="huesped.correo" maxlength="150" required>
                </div>
                <div class="form-group">
                    <label for="observaciones">Obervaciones</label>
                    <input type="text" class="form-control" id="observaciones" name="observaciones"
                    [(ngModel)]="huesped.observaciones" maxlength="400" required>
                </div>            

                <div id="btn"> 
                       <button class="btn btn-success " [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                
                <button class="btn btn-primary " routerLink="/lista-huesped">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            
            </form>
        </div>
    </div>
</div>


</body>
