<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container"> 

        <div class="card">

            <div class="top-row background-top-row">
                <h4>Nuevo Huesped</h4>
            </div>

            <div class="content">
                <h2>Crear nuevo huesped</h2>
                <p>Haga click aca para crear un nuevo huesped</p>
                <button class="button background-top-row" routerLink = "/nuevo">Nuevo Huesped</button>
            </div>

        </div>

        <div class="card">

            <div class="top-row background-top-row">
                <h4>YouTube</h4>
                <i  aria-hidden="true"></i>
            </div>

            <div class="content">
                <h2>Crear nuevo usuario</h2>
                <p>Haga click aca para crear nuevo usuario</p>
                <button class="button background-top-row" routerLink = "/registro">Nuevo Usuario</button>
            </div>

        </div>

        <div class="card">

            <div class="top-row background-top-row">
                <h4>Facebook</h4>
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>

            <div class="content">
                <h2>Facebook</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit repellat quo placeat illo officia, assumenda repudiandae commodi dolor libero.</p>
                <button class="button background-top-row">Empezar</button>
            </div>

        </div>

        <div class="card">

            <div class="top-row background-top-row">
                <h4>Twitter</h4>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>

            <div class="content">
                <h2>Twitter</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit repellat quo placeat illo officia, assumenda repudiandae commodi dolor libero.</p>
                <button class="button background-top-row">Empezar</button>
            </div>

        </div>

    </div>
    
</body>

</html>