<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <div class="card" style="height: 360px;">

            <div class="top-row background-top-row">
                <h4>Nuevo Huesped</h4>
            </div>

            <div class="content" style="height: 200px;">
                <h2>Crear nuevo huesped</h2>
                <p>Haga click aca para crear un nuevo huesped</p>
            </div>
            <div class="content">
                <button class="button background-top-row" routerLink="/nuevo">Nuevo Huesped</button>
            </div>

        </div>

        <div class="card" style="height: 360px;">

            <div class="top-row background-top-row">
                <h4>Nuevo usuario</h4>
                <i aria-hidden="true"></i>
            </div>

            <div class="content" style="height: 200px;">
                <h2>Crear nuevo usuario</h2>
                <p>Haga click aca para crear nuevo usuario</p>
            </div>
            <div class="content">
                <button class="button background-top-row" routerLink="/registro">Nuevo Usuario</button>
            </div>

        </div>

        <div class="card" style="height: 360px;">

            <div class="top-row background-top-row">
                <h4>Cuartos</h4>
                <i aria-hidden="true"></i>
            </div>

            <div class="content" style="height: 200px;">
                <h2>Cuartos</h2>
                <p>Cuartos disponibles</p>
            </div>
            <div class="content">
                <button class="button background-top-row" routerLink="/cuartos">Entrar</button>
            </div>

        </div>

        <div class="card" style="height: 360px;">

            <div class="top-row background-top-row">
                <h4>Registrar nuevas reservas</h4>
                <i aria-hidden="true"></i>
            </div>

            <div class="content" style="height: 200px;">
                <h2>Reservas</h2>
                <p>Haga click para generar una nueva reserva</p>
            </div>
            <div class="content">
                <button class="button background-top-row" routerLink="/reservasagregar">Registrar Reserva</button>
            </div>

        </div>

    </div>

</body>

</html>