<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row mt-5" *ngIf="detallereserva">
      <div class="col-md-5 mx-auto">
        <div class="card" style="width: 28rem;">
          <div class="card-header text-center">
            Detalle
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID: </b>{{detallereserva.huespedId}}</li>
            <li class="list-group-item"><b>NOMBRES: </b>{{detallereserva.nombre}}</li>
            <li class="list-group-item"><b>APELLIDOS: </b>{{detallereserva.apellido}}</li>
            <li class="list-group-item"><b>TIPO HABITACION: </b>{{detallereserva.habitacionTipoNombre}}</li>
            <li class="list-group-item"><b>ID RESERVA: </b>{{detallereserva.reservaId}}</li>
            <li class="list-group-item"><b>FECHA DE RESERVA: </b>{{detallereserva.fechaSolicita}}</li>
            <li class="list-group-item"><b>FECHA DE INGRESO: </b>{{detallereserva.fechaIngreso}}</li>
            <li class="list-group-item"><b>FECHA DE SALIDA: </b>{{detallereserva.fechaSalida}}</li>
          </ul>
          <button class="btn btn-danger" type="button" (click)="finalizarReserva(detallereserva.reservaId)">
            Finalizar
          </button>
          <button class="btn btn-danger" type="button" routerLink="/cuartos">
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>
</body>