<app-navbar></app-navbar>
<body>
<div class="container" *ngIf="cuartos">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">


               
                
                
                <div class="form-group">
                    <label for="estado">Disponibilidad</label>
                    <input type="text" class="form-control" id="estado" name="estado"
                    [(ngModel)]="cuartos.estado" maxlength="300" required>
                </div> 
                


         


                
                <div id="btn"> 
                       <button class="btn btn-success " [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                
                <button class="btn btn-primary " routerLink="/cuartos">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            
            </form>
        </div>
    </div>
</div>


</body>
