body{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/034/714/229/large/shane-vince-marcos-gif-jpeg.jpg?1613016251");
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}