
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Reserva</title>
  </head>

<body>
    <app-navbar></app-navbar>
    <section class="form-register">
      <h4>Registrar Reserva</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Id de huesped">
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese Usuario">
      <label for=""> Ingrese fecha de Salida</label>
      <input class="controls" type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2999-12-31">
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Id de habitacion">
    
      <input class="botons" type="submit" value="Registrar">
    </section>
  
  </body>