<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formulario Reserva</title>
</head>

<body>
  <app-navbar></app-navbar>
  <section class="form-register">
    <h4>Registrar Reserva</h4>

    <div class="form-group">
      <label for="huesped">Huesped</label>
      <select class="custom-select form-control controls" [(ngModel)]="huesped" id="huesped" name="huesped">
        <option [ngValue]="null" [disabled]="true" [selected]="true">Seleccionar huesped</option>
        <option *ngFor="let item of huespedes" [value]="item.huespedId">
          {{item.nombre}} {{item.apellido}}
        </option>
      </select>
    </div>

    <label for="start"> Ingrese fecha de Entrada</label>
    <input class="controls" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
      max="2999-12-31">

    <label for="end"> Ingrese fecha de Salida</label>
    <input class="controls" type="date" id="end" name="trip-end" value="2018-07-22" min="2018-01-01" max="2999-12-31">

    <div class="form-group">
      <label for="habitacion">Habitaciones Disponibles</label>
      <select class="custom-select form-control controls" [(ngModel)]="habitacion" id="habitacion" name="habitacion" required>
        <option [ngValue]="null" [disabled]="true" [selected]="true">Seleccionar habitacion</option>
        <option *ngFor="let item of habitaciones" [value]="item.habitacionId">
          {{item.tipo}}
        </option>
      </select>
    </div>

    <input class="botons" type="submit" value="Registrar">
  </section>

</body>