
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

    *, *:before, *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url("https://64.media.tumblr.com/7ad82f72603e91240176c2bf7cec220c/5ed04c7fd6053ad8-b6/s1280x720/c6629d68e8008132c929f9d0a3e1e33e8defa27e.gif");
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
        background-size: cover;

    }
    table {
        background: #012B39;
        border-radius: 0.25em;
        border-collapse: collapse;
        margin: 1em;
    }
    th {
        border-bottom: 1px solid #364043;
        color: #E2B842;
        font-size: 0.85em;
        font-weight: 600;
        padding: 0.5em 1em;
        text-align: left;
    }
    td {
        color: #fff;
        font-weight: 400;
        padding: 0.65em 1em;
    }
    .disabled td {
        color: #4F5F64;
    }
    tbody tr {
        transition: background 0.25s ease;
    }
    tbody tr:hover {
        background: #014055;
    }

#Texto{
    color: wheat;
    text-align: center;
}

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-flex;
    }

    a {
        position: relative;
        padding: 1rem 0 0.5rem;
        margin: 0 1.5rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%) scaleX(0);
        transform: translateX(-50%) scaleX(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.8);
        transition: -webkit-transform 250ms;
        transition: transform 250ms;
        transition: transform 250ms, -webkit-transform 250ms;
    }
    a:hover::after {
        -webkit-transform: translateX(-50%) scaleX(1);
        transform: translateX(-50%) scaleX(1);
    }

   .mt-3{
    padding: 0.65em 1em;
        margin-top: 0%;}

    .form-label{
            color: whitesmoke;
            
        }
.form-control{
    width: 10%;
    margin-bottom: 50px;
}