<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row mt-5" *ngIf="huesped">
      <div class="col-md-5 mx-auto">
        <div class="card" style="width: 28rem;">
          <div class="card-header text-center">
            Detalle
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID: </b>{{huesped.huespedId}}</li>
            <li class="list-group-item"><b>TIPO DOCUMENTO: </b>{{huesped.tipoDocumento}}</li>
            <li class="list-group-item"><b>NUMERO DOCUMENTO: </b>{{huesped.numeroDocumento}}</li>
            <li class="list-group-item"><b>NOMBRES: </b>{{huesped.nombre}}</li>
            <li class="list-group-item"><b>APELLIDOS: </b>{{huesped.apellido}}</li>
            <li class="list-group-item"><b>TELFONO: </b>{{huesped.telefono}}</li>
            <li class="list-group-item"><b>CORREO: </b>{{huesped.correo}}</li>
            <li class="list-group-item"><b>FECHA DE REGISTRO: </b>{{huesped.fechaRegistro}}</li>
            <li class="list-group-item"><b>USUARIO REGISTRO: </b>{{huesped.usuarioRegistro}}</li>
            <li class="list-group-item"><b>FECHA DE ULTIMA MODIFICACION: </b>{{huesped.fechaUltModificacion}}</li>
            <li class="list-group-item"><b>USUARIO ULTIMA MODIFICACION: </b>{{huesped.usuarioUltModificacion}}</li>
            <li class="list-group-item"><b>ESTADO: </b>{{huesped.estado}}</li>
            <li class="list-group-item"><b>OBSERVACIONES: </b>{{huesped.observaciones}}</li>

          </ul>
          <div class="card-footer">
            <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                class="fas fa-arrow-alt-circle-left"></i> Volver</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>