<app-navbar></app-navbar>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Listado de Huespedes</title>
</head>
<body>




<div class="container">
    <h3 id="Texto">Listado de Huespedes</h3>
  

    <div>
        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr >
                    <th scope="col" >Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido </th>
                    <th scope="col">Telefono </th>
                    <th scope="col">Correo</th>
                    <th scope="col">Usuario Registro</th>
                    <th scope="col">Usuario Ultima Modificacion</th>
                    <th scope="col">Observaciones</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let huespedes of huesped">
                    <td>{{huespedes.huespedId}}</td>
                    <td>{{huespedes.nombre}}</td>
                    <td>{{huespedes.apellido}}</td>
                    <td>{{huespedes.telefono}}</td>
                    <td> {{huespedes.correo}}</td>
                    <td> {{huespedes.usuarioRegistro}}</td>
                    <td> {{huespedes.usuarioUltModificacion}}</td>
                    <td> {{huespedes.observaciones}}</td>

                    <td></td>
                    <td><button class="btn btn-outline-primary" routerLink = "/detalle/{{huespedes.huespedId}}"><i class="far fa-eye"></i> Ver</button></td>
                    <td ><button class="btn btn-outline-warning" routerLink = "/editar/{{huespedes.huespedId}}"><i class="far fa-edit"></i> Editar</button></td>
                    <td ><button class="btn btn-outline-danger" (click)="borrar(huespedes.huespedId)" ><i class="far fa-trash-alt"></i> Eliminar</button></td>
                   <!--/{{huespedes.huespedId}}-->
                   
                </tr>
                <td>
                    <button class="btn btn-outline-success" routerLink = "/nuevo">
                      <i class="fas fa-plus-circle"></i> Nuevo Huesped</button>
                  </td>
                </tbody>
                  
            </table>
          
        </div>
       
    </div>
</div>
<!-- Optional JavaScript  -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<script>
    ScrollReveal().reveal('.headline')
    ScrollReveal().reveal('.tagline', { delay: 500 })
    ScrollReveal().reveal('.punchline', { delay: 2000 })
</script>
<script src="js/JSPHP.js"></script>
<script src="../videojuegoslistado/videojuegoslistado.php"></script>
</body>

